<div
  [ngClass]="footerContainerCssClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between footer p-4 fixed-bottom"
>
  <div class="text-dark">
    <span class="text-muted fw-bold">Copyright </span>
    <span class="fw-bold">&copy; </span>
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} </span>
    <a
      class="text-danger text-hover-primary cursor-pointer fw-bold"
      href="https://ujueta.com/"
      >Ujueta.
    </a>
    <span class="text-muted">Todos los derechos reservados.</span>
  </div>

  <div>
    <span class="fw-bold"> Versión </span>
    <span class="text-muted">2020.11.19.0936 | HU_GOLIVE;</span>
  </div>
</div>
