<!-- Crafted -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')"
    ><span class="menu-title">Example</span></span
  >
  <div
    class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
    <div
      class="menu-item menu-lg-down-accordion me-lg-1"
      data-kt-menu-trigger="{default:'click', lg: 'hover'}"
      data-kt-menu-placement="right-start"
    >
      <span
        class="menu-link py-3"
        [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
        ><span class="menu-icon"><i class="bi fs-3 bi-archive"></i></span
        ><span class="menu-title">Paginas</span><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
        data-kt-menu-dismiss="true"
      >
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/profile')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/profile"
              >Perfil</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 1</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 2</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 3</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 4</span></a
              >
            </div>
          </div>
        </div>
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/wizards')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/wizards"
              >Menu</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Menu 1</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Menu 2</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')"
    ><span class="menu-title">Example</span></span
  >
  <div
    class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
    <div
      class="menu-item menu-lg-down-accordion me-lg-1"
      data-kt-menu-trigger="{default:'click', lg: 'hover'}"
      data-kt-menu-placement="right-start"
    >
      <span
        class="menu-link py-3"
        [ngClass]="calculateMenuItemCssClass('/crafted/pages')"
        ><span class="menu-icon"><i class="bi fs-3 bi-archive"></i></span
        ><span class="menu-title">Paginas</span><span class="menu-arrow"></span
      ></span>
      <div
        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
        data-kt-menu-dismiss="true"
      >
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/profile')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/profile"
              >Perfil</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 1</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 2</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 3</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Pagina 4</span></a
              >
            </div>
          </div>
        </div>
        <div
          class="menu-item menu-lg-down-accordion me-lg-1"
          data-kt-menu-trigger="{default:'click', lg: 'hover'}"
          data-kt-menu-placement="right-start"
        >
          <span
            class="menu-link py-3"
            [ngClass]="calculateMenuItemCssClass('/crafted/pages/wizards')"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" data-link="/crafted/pages/wizards"
              >Menu</span
            ><span class="menu-arrow"></span
          ></span>
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
            data-kt-menu-dismiss="true"
          >
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Menu 1</span></a
              >
            </div>
            <div class="menu-item me-lg-1">
              <a class="menu-link py-3"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span class="menu-title">Menu 2</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
